* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
    background: #5a73ab;
}

.form {
    width: 600px;
    background: #08ffa0;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    max-width: 500px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form h1 {
    color: white;
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    margin-left: 16px;
}

.form {
    width: 98%;
    max-width: 500px;
    background: #06acff;
    padding: 10px;
    margin-left: 16px;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #5a73ab;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    margin: auto;
}
.form__titulo{
    background: #08ffa0;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom: 5px solid crimson;
}

.form p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.form a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.form .botons {
    width: 95%;
    background: #ffffff;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 16px;
    font-size: 16px;
}

#fecha{
    color:rgba(240, 248, 255, 0.333);
}

.textarea{
    width: 93.5%;
    background: #24303c;
    padding: 10px;
    margin-left: 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #03b60c;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

label{
    display: block;
    width: 100px;
    border: 2px solid silver;
}